@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	src: url('./Assets/Fonts/mulish-latin_cyrillic-700.woff2') format('woff2'),
		url('./Assets/Fonts/mulish-latin_cyrillic-700.woff') format('woff');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	src: url('./Assets/Fonts/mulish-latin_cyrillic-regular.woff2')
			format('woff2'),
		url('./Assets/Fonts/mulish-latin_cyrillic-regular.woff') format('woff');
}
html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   scroll-behavior: smooth;
 }
 
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
 
 body {
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   font-family: 'Mulish', 'sans-serif';
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   -webkit-transition: background-color 0.2s ease;
   transition: background-color 0.2s ease;
   overflow: hidden;
 }
 
